<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>HTML PRIJECT</title>
</head>
<script type="text/javascript"></script>
<style>
	.container {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	.comment {
	display: block;
	transition: all 1s;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}
.container textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}
button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}
button.primaryContained:hover {
	background: #9201A8;
}
}
</style>
<body>
	
	<!-- START HEADER -->
	<table it="header" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f3971b">
		<tr>
			<td>
				<table border="0" cellpadding="15" cellspacing="0" align="center">
					<tr>
						<td>
							<font face="arial" color="#000000" size="5">
								<span class="fa fa-user-circle"
								alia-hidden="true"></span>

							 saksham patel
							</font>
						</td>
						<td>
						  &nbsp;
					</td>
						<td>
							<a href="#home">
								<font face="arial" color="#ffffff" size="4">Home
								</font>
						</td>
						<td>
							<a href="#about">
								<font face="arial" color="#ffffff" size="4">About</font>
						</td>
						<td>
							<a href="#Services">
								<font face="arial" color="#ffffff" size="4">Services</font>
						</td>
						<td>
							<a href="#Testimation">
								<font face="arial" color="#ffffff" size="4">Testimation</font>
						</td>
						<td>
							<a href="#achivement">
								<font face="arial" color="#ffffff" size="4">Achivement</font>
						</td>
						<td>
							<a href="#contact">
								<font face="arial" color="ffffff" size="4">Contact</font>
						</td>
					</tr>

				</table>
			</td>
		</tr>
		
	</table>
	<!-- end header -->
	<!-- Starat home -->
	<table id="header" border="0" width="100%" cellpadding="15%" cellspacing="0"
	bgcolor="#292929" align="center">
	<tr>
		<td>
			<table border="0"  cellpadding="15" cellspacing="0" align="center">
				<tr>
					<td align="center" valign="middel">
						<h3>
						<font face="arial" color="#ffffff" size="6">
							Hi,i am sandeep yadav
						</font>
					</h3>
					
					<h2>
						<font face="arial" color="#f3971b" size="7" >
							Free learn program.
						</font>
					</h2>
					</td>
				</tr>
			</table>
		</td>
	</tr>
		
	</table>
	<!-- end home -->
	<!-- Start about -->
	<table id="about" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#292929" align="center">
		<tr>
			<td>
				<table border="0" cellpadding="15" cellspacing="0" align="center">
					<!-- Heading start -->
					<tr>
						<td height="110" align="center" valign="middel" colspan="2">

							<font face="arial" color="#f3971b" size="6">
							 About</font>
							 <hr width="70" color="#f3971b">
						</td>
					</tr>
					<!-- heading end -->
					<tr>
						<td width="40%">
							<img src="E:/Html_Practices/image/assets//lotus.jpg" width="80%" alt="Sandeep Yadav">
							<td width="80%">
							<font face="arial" color="#ffffff" size="4">
								<h2>I am my passion in programmer</h2>
								HTML tutorial or HTML 5 tutorial provides basic and advanced concepts of HTML. Our HTML tutorial is developed for beginners and professionals. In our tutorial, every topic is given step-by-step so that you can learn it in a very easy way. If you are new in learning HTML, then you can learn HTML from basic to a professional level and after learning HTML with CSS and JavaScript you will be able to create your own interactive and dynamic website. But Now We will focus on HTML only in this tutorial.The major points of HTML are given below:

                                HTML stands for HyperText Markup Language.
                                HTML is used to create web pages and web applications.
                                HTML is widely used language on the web.
                                We can create a static website by HTML only.
                                Technically, HTML is a Markup language rather than a programming language.


							</font>
							</td>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- end of about -->
	<!-- Start services -->
	<table id="Services" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#292929" align="center">
		<tr>
			<td>
				<table border="0" cellpadding="15%" cellspacing="0">
					<!-- Heading start -->
					<tr>
						<td height="110" align="center" valign="middel" colspan="3">

							<font face="arial" color="#f3971b" size="6" align="center">
							 Services</font>
							 <hr width="60" color="#ffffff">
						</td>
					</tr>
					<!-- heading end -->
					<tr>
						<td width="30%">
							<a href="Servises1.html"><img src="E:/Html_Practices/image/assets//com.jpg" width="100%" alt="Sandeep Yadav">
							</a>
						    </td>
							<td width="30%">
							<a href="Servises2.html"><img src="E:/Html_Practices/image/assets//com2.jpg" width="100%" alt="Sandeep Yadav">
							
							</a>
							</td>
							<td width="30%">
							<a href="Servises3.html"><img src="E:/Html_Practices/image/assets//com3.jpg" width="100%" alt="Sandeep Yadav">
							
							</a>							
							</td>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- end of services -->
	<!-- Start achivement -->
	<table id="testimation" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" >
		<tr>
			<td>
			<table border="0" cellpadding="15" cellspacing="0">
				<tr>
						<td height="110" align="center" valign="middel" colspan="3">

							<font face="arial" color="#f3971b" size="6" align="center">
							 Testimation
							</font>
							 <hr width="70" color="#f3971b">
						</td>
					</tr>
					<td width="33%" valign="top">
						<font face="arial" color="#f3971b" size="6"> 
                         <h3 align="center">Sujeet</h3>
						</font>
						<font face="arial" color="#000000" size="3">							
						HTML tutorial or HTML 5 tutorial provides basic and advanced concepts of HTML. Our HTML tutorial is developed for beginners and professionals. 
						</font>
					</td>
					<td width="33%" valign="top">
						<font face="arial" color="#f3971b" size="6"> 
                         <h3 align="center">Suraj</h3>
						</font>
						<font face="arial" color="#000000" size="3">							
						HTML tutorial or HTML 5 tutorial provides basic and advanced concepts of HTML. Our HTML tutorial is developed for beginners and professionals. 
						</font>
					</td>
					<td width="33%" valign="top">
						<font face="arial" color="#f3971b" size="6"> 
                         <h3 align="center">Subham</h3>
						</font>
						<font face="arial" color="#000000" size="3">							
						HTML tutorial or HTML 5 tutorial provides basic and advanced concepts of HTML. Our HTML tutorial is developed for beginners and professionals. 
						</font>
					</td>

				</tr>
			</table>
		</td>
	</tr>
	</table>
	<!-- end of achivement -->
	<!-- S -->
	<table id="achivement" border="0" width="100%" cellspacing="0" cellspacing="0" align="center">
		<tr>
			<td>
			<table border="0" cellpadding="15" cellspacing="0" align="center">
				<tr>
					<td height="110" align="center" valign="middel" colspan="3">
						<font face="arial" color="#f3971b" size="6">
							Achivement
						</font>
					</td>
				</tr>
				<tr>
				<td width="33%" valign="top">
				    <font face="arial" color="#292929" size="3">
				    	<ul>
				    		<li>
				    			Both examples above are using an absolute URL (a full web address) in the href attribute.
				    		</li>
				    			<li>
                                A local link (a link to a page within the same website) is specified with a relative URL (without the "https://www" part):
				    		</li>
				    		<li>
				    			To use an image as a link, just put the <img> tag inside the <a> tag:
				    		</li>
				    		<li>
				    			Use mailto: inside the href attribute to create a link that opens the user's email program (to let them send a new email):
				    		</li>
				    		<li>
				    			To use an HTML button as a link, you have to add some JavaScript code.
				    		</li>
				    		<li>
				    			javaScript allows you to specify what happens at certain events, such as a click of a button:
				    		</li>
				    	</ul>
				    </font>	
				</td>
				<td valign="top">
						<img src="E:/Html_Practices/image/assets/download.jfif" alt="achivement" width="100%">
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
				
			</table>
		</td>
	</tr>
	</table>
	<!-- end of achivement -->
	<!-- Start of contact -->
	<table id="contact" border="0" width="100%" cellspacing="0" cellpadding="0" color="#f3971b" align="center">
		<tr>
			<td>
				<table border="0" cellpadding="0" cellspacing="15" align="center" valign="middel">
					<tr>
						<td width="33%" align="center" valign="middel">
							<font face="arial" color="#f3971b" size="5" align="center" colspam="4">
								contact
							</font>
						</td>
					</tr>
					<tr>
						<td>
							&nbsp
						</td>
					</tr>
					<tr>
						<td width="33%" valign="top"
							 color="#ffffff" size="4" align="center">
								Name
								<input type="text" size="40%">

								<!-- <img src="E:/Html_Practices/image/assets//h2.jpg" width="50%" alt="top" > -->
								
								
							
							
						</td>
					</tr>
					<tr>
						<td width="70%"
							color="#ffffff" size="4" align="center">
								email
								<input type="text" size="40%">
							
						</td>
					</tr>
					<tr>
						<td width="70%"
							 color="#ffffff" size="4" align="center">
								Messege
								<input type="text" size="33%" col="4">
							
						</td>
					</tr>
					<tr>
					<td width="30%">
							&nbsp
						</td>
						</tr>

					<tr>
						<td width="70%" size="4">
							<button type="sumit">
								<font face="arial" size="2" color="#292929">
									Sumit
								</font>
							</button>
						</td>
					</tr>

				</table>
			

			</td>
		</tr>
	</table>
		<!-- end contant -->
		<table id="header" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f3971b">
			<tr>
				<td>
					<table border="1" cellpadding="15%" cellspacing="0" width="100%">
						<tr> 
							
							<td width="30%" valign="top">
								<font face="arial" color="#292929" size="4">
									fecebook
								</font>
							
						</td>
					</tr>
					</tr>
					
						</td>
					</tr>
					</table>
				</td>
			</tr>
		</table>
	>
			
		</table>
		<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
</body>
</html>